{
    "text": "🚨 URGENT: Risk Acceptance Tampered",
    "attachments": [
        {
            "color": "#ff0000",
            "title": "Tampered Risk Acceptance Detected",
            "fields": [
                {
                    "title": "ID",
                    "value": "{{.Acceptance.ID}}",
                    "short": true
                },
                {
                    "title": "CVE",
                    "value": "{{.Acceptance.CVE}}",
                    "short": true
                }
            ]
        }
    ]
}
